body {
    margin: 0;
    background-color: #ccc
}

.App {
    display: grid;
    padding-top: 15px;
    font-family: "Ubuntu", sans-serif;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap:20px;
  
}

/* center cards when showing one column */

@media (max-width: 605px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}

button {
    color: white;
    background-color: teal;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px 0;
    font-weight: 200;
}

h3 {
    margin: 0;
}

li {
    margin: 0;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

/* Use flex wrap? or make whole body (or content container) grid? */

.card-wrapper {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.new-task-btn {
    margin-top: 5px;
}


/* New Task Time Section */

.time-wrapper {
    display: flex;
    direction: column;
}

.time-input {
    width: 30px;
    height: 15px;
}

/* Task Time Section */

.task-card-wrapper {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 3px 2px 1px rgb(220,220,220,.5);
 
}

.time-box {
    font-size: 2rem;
    background-color: #eee;
    border-radius: 1px solid #ddd;
}

.time-box:not(:last-child) {
    margin-right: 8px; 
}

.task-btn-wrapper {
    
    margin-top: 20px;
}

/* Arrows */

.arrow {
    position: absolute;
    top: 42%;
}

.left-arrow {
    left: 0;
    cursor: pointer;
    font-size: 25px;
}

.right-arrow {
    right: 0;
    cursor: pointer;
    font-size: 25px;
}


/* Dropdown Menu */


.dropdown {
    background-color: white;
    position: relative;
    width: 120px;
    text-align: center;
    cursor: pointer;
    margin: 15px 0 ;
}



.dropdown-item-container {
    position: absolute;
    /* bottom: -60px; */
    background-color: #eee;
    /* height: 60px; */
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}


.dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dropdown-item {
   padding: 5px 0;
   width: 100px;
   border-bottom: 1px solid rgb(220, 220, 220, .5   )
}