body {
    margin: 0;
    background-color: #ccc
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 15px;
    font-family: "Ubuntu", sans-serif;
    
}

button {
    color: white;
    background-color: teal;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 2rem;
    padding: 10px;
    margin: 10px 0;
    font-weight: 300;
}

/* Use flex wrap? or make whole body (or content container) grid? */

.card-wrapper {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}


/* New Task Time Section */

.time-wrapper {
    display: flex;
    direction: column;
}

.time-input {
    width: 30px;
    height: 15px;
}

/* Task Time Section */

.task-card-wrapper {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 3px 2px 1px rgb(220,220,220,.5);
 
}

.time-box {
    font-size: 2rem;
    background-color: #eee;
    border-radius: 1px solid #ddd;
}

.time-box:not(:last-child) {
    margin-right: 8px; 
}

.task-btn-wrapper {
    
    margin-top: 20px;
}

/* Arrows */

.arrow {
    position: absolute;
    top: 42%;
}

.left-arrow {
    left: 0;
    cursor: pointer;
    font-size: 25px;
}

.right-arrow {
    right: 0;
    cursor: pointer;
    font-size: 25px;
}
